.droplistSelectDiv {
	max-width: 80vw;
	margin: 1rem;
	outline: none;
	.droplistSelect {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		border: 2px solid black;

		.icons {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			* {
				margin: 0 0.5rem;
			}
		}
		.selectedKeys {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			box-sizing: border-box;
			flex-wrap: wrap;
			.multiSelectOption {
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 5px;
				background-color: white;
				color: black;
				border: 2px solid black;
			}
		}
	}

	.droplistOptions {
		background-color: white;
		color: black;
		max-height: 30vh;
		overflow-y: scroll;
		border: none;
		font-size: inherit;
		padding: 0.5rem;
		outline: none;
		border-radius: unset;
		text-align: left;
		.option {
			display: flex;
			align-items: center;
			justify-content: left;
			box-sizing: border-box;
			max-width: 90%;
			width: 90%;
			margin: 1rem 5%;
			&:hover {
				background-color: rgb(2, 2, 2);
				color: white;
			}
			* {
				margin: 0 0.5rem;
			}
			button {
				box-sizing: border-box;
				background-color: inherit;
				color: inherit;
				font-size: inherit;
				padding: 0.5rem;
				max-width: inherit;
				border: none;
				text-align: left;
				overflow-wrap: break-word;
				&:focus {
					outline: none;
				}
			}
		}
	}
}

.removeSelectedIcon {
	&:hover {
		color: rgb(184, 0, 0);
	}
}

.iconButton {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.isSelected {
	background-color: cornflowerblue;
	pointer-events: none;
}
