.droplistSelectDiv {
	max-width: 80vw;
	.droplistSelectButton {
		padding: 0.5rem;
	}

	.droplistOptions {
		background-color: white;
		box-sizing: border-box;
		color: black;
		visibility: hidden;
		max-height: 30vh;
		overflow-y: scroll;
		border: none;
		font-size: inherit;
		padding: 0.5rem;
		outline: none;
		border-radius: unset;
		text-align: left;
		.option {
			display: block;
			width: 100%;
			margin: 0.5rem 0;
			text-align: left;
			font-size: inherit;
			overflow-wrap: break-word;
			border: none;
			&:hover {
				background-color: indigo;
				color: white;
			}
			// &:focus,
			// .droplistOptions {
			// 	display: none;
			// }
		}
	}
	&:focus-within > .droplistOptions {
		visibility: visible;
	}
}
