.droplistSelectDiv {
	.droplistSelectButton {
		width: 100%;
	}

	.droplistOptions {
		padding: 1rem;
		background-color: white;
		color: black;
		display: none;
		max-height: 30vh;
		overflow-y: scroll;
		text-align: left;
	}
	&:focus-within > .droplistOptions {
		display: block;
	}
}
