.inputContainer {
	display: flex;
	align-items: center;
	img {
		height: 1.5rem;
	}
}

.defaultInput {
	background-color: white;
	border: 1px solid black;
	color: black;
}

.left {
	flex-direction: row;
}

.right {
	flex-direction: row-reverse;
}

.universalInput {
	all: inherit;
	border: none;
	height: 100%;
	width: 100%;
	font-size: inherit;
	padding: 0;
	margin: 0.5rem;
	outline: none;
	border-radius: unset;
	text-align: initial;
}
