$paradise-pink: rgba(239, 71, 111, 1);
$orange-yellow-crayola: rgba(255, 209, 102, 1);
$caribbean-green: rgba(6, 214, 160, 1);
$blue-ncs: rgba(17, 138, 178, 1);
$midnight-green-eagle-green: rgba(7, 59, 76, 1);
