@import "./theme";

.AppContainer {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.searchInput {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 2rem;
	transition: 300ms;
	background-color: $orange-yellow-crayola;
	color: $midnight-green-eagle-green;
}
